@font-face {
    font-family: "Expo2-Light";
    src: url("../assets/fonts/Expo2/Exo2-Light.ttf");
}
.home{
    display: flex;
}
.stuff{
    width: 43vh;
    height: 92vh;
    position: fixed;
    top: 1;
    left: 0;
}
.listStuff{
    margin-top: 50px;
}
.chat{
    position: fixed;
    top: 1;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 43vh
}
.mainContent{
    display: flex;
    margin-left: 360px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: center;
    color: white;
    width: 110vh;
}
.stuff ul{
    list-style-type: none;
    font-family: "Expo2-Light";
    color: white;
    text-decoration: none;
    font-size: 40px;
}
.stuff ul p {
    text-align: left;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}
.stuff ul p:hover{
    background-color: black;
}
.mainConteiner{
    border-radius: 20px;
    background-color: black;
    height: 653px;
    width: 800px;
    margin: 100px auto;
}
.navP{
    display: flex;
    margin-top: 10px;
}
.navPtext{
    font-family: "Expo2-Light";
    display: flex;
    width: 100vh;
    align-items: center;
    margin-left: 20px;
}
.profileLogo{
    border-radius: 1000px;
    width: 80px;
    margin-left: 30px;
}
.post{
    display: flex;
    flex-direction: column;
}
.postImg{
    margin-top: 10px;
}
.postImage{
    width:600px;
    max-height: 430px;
}
.postText{
    font-family: "Expo2-Light";
    display: flex;
    margin-left: 100px;
}
.other{
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}
.other img{
    cursor: pointer;
    width: 60px;
}
.navChat:hover{
    box-shadow: 0 0px 12px rgb(255, 255, 255);
}
.navChat{
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
    border: 1px solid gray;
    background-color: black;
    display: flex;
    margin-top: 10px;
    color:white
}
.like{
    margin-right:7px;
}
.marked{
    margin-left: 10px;
    margin-right: 0px;
}
.dots{
    margin-left: 0px;
}
.navCtext{
    font-family: "Expo2-Light";
    display: flex;
    width: 100vh;
    align-items: center;
    margin-left: 20px;
}
.realChat{
    margin-top: 10px;
    height: 91vh;
}
.userMessages{
    text-align: right;
    float: right;
    width:100%;
    background-color: green;
}
.incomingMessages{
    float: left;
    width: 100%;
}
.incomingMessages p{
    background-color: darkcyan;
}
.chatContent p{
    margin: 0;
    padding: 0;
}
.chatContent{
    background-color: black;
    height: 70vh;
    margin-right: 5px;
}
.chatStuff{
    background-color: black;
    align-items: center;
    margin-right: 5px;
    display: flex;
    height: 14%;
}
.chatStuff input{
    font-family: "Expo2-Light";
    text-align: center;
    margin-left: 4px;
    border-radius: 10px;
    width: 280px;
    height: 20px;
}
.sendImg{
    cursor: pointer;
    width: 60px;
    margin-left: 5px;
    margin-right: 8px;
}
.galleryImg{
    cursor: pointer;
    width: 60px;
}